* {
		margin: 0;
		padding: 0;
		font-family: 'open-sans', sans-serif;
}	

.main{
	width: 100%;
	height: 100vh;
	background-image: url(images/background2.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
}
.header{
	color: rgb(255, 255, 255);
	position: absolute;
	top: 40%;
	left: 8%;
	transform: translateY(-50%);
	z-index: 2;
}
h1{
	font-size: 80px;
	margin: 10px 0 30px;
	line-height: 80px;
}
.navagation-bar{
	width: 50px;
	height: 100vh;
	background: linear-gradient(#061627, #000729);
	position: absolute;
	right: 0;
	top: 0;
}

.socials img{
	width: 25px;
	margin: 5px auto;
	cursor: pointer;
}
.socials{
	width: 50px;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
span{
	position: absolute;
	top: 0;
	left: 15%;
	width: 4px;
	height: 4px;
	background: #b7fff9;
	border-radius: 50%;
	box-shadow: 0 0 0 4px rgb(255, 255, 255, 0.5),
	0 0 0 8px rgba(255, 255, 255, 0.5),
	0 0 0 20 px rgba(255, 255, 255, 0.1);
	animation: animate 3s linear infinite;
}
span::before{
	content: '';
	position: absolute;
	top: 30%;
	transform: translateY(-50%);
	width: 300px;
	height: 1px;
	background: linear-gradient(90deg, #c8f6f7,
	transparent);

}
@keyframes animate {
	0%{
		transform: rotate(200deg) translateX(0);
		opacity: 0.2;
	}
	30%{
		opacity: 0.7;
	}
	50%{
		opacity: 1;
	}
	70%{
		
		opacity: 0.5;
		
	}
	100%{transform: rotate(200deg) translateX(-75vw);
		opacity: 0;
	}
	
}

span:nth-child(1)
{
	top: 10px;
	right: 90%;
	left: initial;
	animation-delay: 0;
	animation-duration: 3s;
}
span:nth-child(2)
{
	top: 10px;
	right: 95%;
	left: initial;
	animation-delay: -0.2s;
	animation-duration: 3s;
}

span:nth-child(3)
{
	top: 12px;
	right: 93%;
	left: initial;
	animation-delay: 0.2s;
	animation-duration: 2.5s;
}
span:nth-child(4)
{
	top: 8px;
	right: 90%;
	left: initial;
	animation-delay: 0.4s;
	animation-duration: 3s;
}
span:nth-child(5)
{
	top: 8px;
	right: 88%;
	left: initial;
	animation-delay: 0.8s;
	animation-duration: 3s;
}
span:nth-child(6)
{
	top: 8px;
	right: 85%;
	left: initial;
	animation-delay: 0.8s;
	animation-duration: 3s;
}
span:nth-child(7)
{
	top: 12px;
	right: 74%;
	left: initial;
	animation-delay: 1.2s;
	animation-duration: 2.5s;
}

span:nth-child(8)
{
	top: 8px;
	right: 76%;
	left: initial;
	animation-delay: 1.4s;
	animation-duration: 3s;
}
span:nth-child(9)
{
	top: 8px;
	right: 82%;
	left: initial;
	animation-delay: 1.8s;
	animation-duration: 3s;
}
span:nth-child(10)
{
	top: 8px;
	right: 80%;
	left: initial;
	animation-delay: 1.8s;
	animation-duration: 3s;
}
span:nth-child(11)
{
	top: 12px;
	right: 93%;
	left: initial;
	animation-delay: 1.2s;
	animation-duration: 2.5s;
}
span:nth-child(12)
{
	top: 8px;
	right: 90%;
	left: initial;
	animation-delay: 1.4s;
	animation-duration: 3s;
}
span:nth-child(13)
{
	top: 8px;
	right: 88%;
	left: initial;
	animation-delay: 1.8s;
	animation-duration: 3s;
}
