/*Kelvin Chow Kelvinchow2014@gmail.com*/
/* defaults for the whole website */
* {
		margin: 0;
		padding: 0;
		font-family: 'open-sans', sans-serif;
}	
/* attributes for the main page*/
.main{
	width: 100%;
	height: 100vh;
	background-image: url(images/background2.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
}
.smoke{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 2;
	
}
.smoke img{
	position: absolute;
	bottom: 0%;
	max-width: 100%;
	animation: animate_smoke calc(8s * var(--i)) linear infinite;
	
}
.smoke_area{
	width: 100%;
	height: 100vh;
	background-image: url(/images/smokebackground.PNG);
	background-size: cover;
	background-position: center;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	filter: brightness(0.8)
}
.smoke2{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 2;
}


.smoke2 img{
	position: absolute;
	bottom: 0%;
	max-width: 100%;
	animation: animate_smoke2 calc(8s * var(--i)) linear infinite;
	transform: rotate(180deg); 
}
.smoke3{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 2;
}
.smoke3 img{
	position: absolute;
	top: 0;
	max-width: 100%;
	animation: animate_smoke calc(8s * var(--i)) linear infinite;
	
}
.smoke4{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 2;
}
.smoke4 img {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	animation: animate_smoke calc(8s * var(--i)) linear infinite;
	transform: scaleX(-1); /* Flip the image horizontally */
  }
@keyframes animate_smoke {
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(100%);
	}
}
@keyframes animate_smoke2 {
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(200%);
	}
}
/* colour and position of the headers*/
.header{
	color: rgb(255, 255, 255);
	position: absolute;
	top: 40%;
	left: 8%;
	transform: translateY(-50%);
	z-index: 2;
}


/* size of the headers text*/
h1{
	font-size: 80px;
	margin: 10px 0 30px;
	line-height: 80px;
}
h2{
	font-size: 80px;
	margin: 10px 0 30px;
	line-height: 80px;
}
p{
	font-size: 30px;
	margin: 10px 0 30px;
	line-height: 30px;
}
/* Diemnsions for the side bar that holds the social links */
.navagation-bar{
	width: 50px;
	height: 100vh;
	background: linear-gradient(#061627, #000729);
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
}
.navagation-bar2{
	width: 50px;
	height: 100vh;
	background: linear-gradient(#000729, #061627);
	position: absolute;
	right: 0;
	top: 0;
}

.socials img{
	width: 25px;
	margin: 5px auto;
	cursor: pointer;
}
/* Dimensions for the social media icons */
.socials{
	width: 50px;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
/* Dimensions for the main object for the shooting stars 
When the page 
is shrunk down a lot it causes the star to start from inside the building*/
.arrows {
	width: 15%;
	height: 15%;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
	z-index: 20;
  }

  .arrows path {
	stroke: #ffffff;
	fill: transparent;
	stroke-width: 1px;  
	animation: arrow 1.7s infinite;
	-webkit-animation: arrow 1.7s infinite; 
  }
  
  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  .arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
  }
  
  .arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
  }
  
  .arrows path.a3 { 
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
  }


span{
	position: absolute;
	top: -10px;
	left: 15%;
	width: 4px;
	height: 4px;
	background: #b7fff9;
	border-radius: 50%;
	box-shadow: 0 0 0 4px rgb(255, 255, 255, 0.5),
	0 0 0 8px rgba(255, 255, 255, 0.5),
	0 0 0 20 px rgba(255, 255, 255, 0.1);
	animation: animate 3s linear infinite;
}
/* The trail for the social links */
span::before{
	content: '';
	position: absolute;
	top: 30%;
	transform: translateY(-50%);
	width: 300px;
	height: 1px;
	background: linear-gradient(90deg, #c8f6f7,
	transparent);

}
/* Directions for the stars */
@keyframes animate {
	0%{
		transform: rotate(200deg) translateX(0);
		opacity: 0;
	}
	30%{
		opacity: 0.7;
	}
	50%{
		opacity: 1;
	}
	70%{
		
		opacity: 0.5;
		
	}
	100%{transform: rotate(200deg) translateX(-73vw);
		opacity: 0;
	}
	
}

/* a variety of intial star */
span:nth-child(1)
{
	top: 10px;
	right: 90%;
	left: initial;
	animation-delay: 0;
	animation-duration: 3s;
}
/* a variety of intial star */
span:nth-child(2)
{
	top: 10px;
	right: 95%;
	left: initial;
	animation-delay: -0.2s;
	animation-duration: 3s;
}
/* a variety of intial star */
span:nth-child(3)
{
	top: 12px;
	right: 93%;
	left: initial;
	animation-delay: 0.2s;
	animation-duration: 2.5s;
}
/* a variety of intial star */
span:nth-child(4)
{
	top: 8px;
	right: 90%;
	left: initial;
	animation-delay: 0.4s;
	animation-duration: 3s;
}
/* a variety of intial star */
span:nth-child(5)
{
	top: 8px;
	right: 88%;
	left: initial;
	animation-delay: 0.8s;
	animation-duration: 3s;
}
/* a variety of intial star */
span:nth-child(6)
{
	top: 8px;
	right: 85%;	
	left: initial;
	animation-delay: 0.8s;
	animation-duration: 3s;
}
/* a variety of intial star */
span:nth-child(7)
{
	top: 12px;
	right: 74%;
	left: initial;
	animation-delay: 1.2s;
	animation-duration: 2.5s;
}
/* a variety of intial star */
span:nth-child(8)
{
	top: 8px;
	right: 76%;
	left: initial;
	animation-delay: 1.4s;
	animation-duration: 3s;
}
/* a variety of intial star */
span:nth-child(9)
{
	top: 8px;
	right: 82%;
	left: initial;
	animation-delay: 1.8s;
	animation-duration: 3s;
}
/* a variety of intial star */
span:nth-child(10)
{
	top: 8px;
	right: 80%;
	left: initial;
	animation-delay: 1.8s;
	animation-duration: 3s;
}
/* a variety of intial star */
span:nth-child(11)
{
	top: 12px;
	right: 93%;
	left: initial;
	animation-delay: 1.2s;
	animation-duration: 2.5s;
}
/* a variety of intial star */
span:nth-child(12)
{
	top: 8px;
	right: 90%;
	left: initial;
	animation-delay: 1.4s;
	animation-duration: 3s;
}
/* a variety of intial star */
span:nth-child(13)
{
	top: 8px;
	right: 88%;
	left: initial;
	animation-delay: 1.8s;
	animation-duration: 3s;
}
.section-smoke_area{
	width: 100%;
	height: 100vh;
	background-image: url(images/smokebackground.PNG);
	background-size: cover;
	background-position: center;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;

}
section{
	width: 100%;
	height: 100vh;
	background-image: url(images/background2.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	
  }
  .header2{
	color: rgb(255, 255, 255);
	position: absolute;
	top: 40%;
	left: 8%;
	transform: translateY(-50%);
	z-index: 2;
	opacity: 0;
	transition: opacity 1s ease;
	
}
  .rectangle {
	opacity: 0;
	width: 70%;
	height: 37%;
	background-color:rgba(34, 79, 132, 0.2);
	border-image: linear-gradient(#000729, #061627) 100px;
	border-style: solid;
	padding: 10px;
	position: absolute;
	top: 65%;
	left: 15%;
	transform: translateY(-50%);
	z-index: 2;
	overflow-wrap: break-word;
	transition: opacity 1s ease;
  }
  .text{
	color: rgb(255, 255, 255);
	z-index: 3;
	opacity: 100%;
}
.rectangle.visible {
	opacity: 1;
}
.header2.visible {
	opacity: 1;
}
  section h1 {
	font-size: 3rem;
	margin: 20px;
  }
 